.App {
  font-family: sans-serif;
  text-align: center;
}
input {
  padding: 1rem;
  width: 80%;
}
h1 {
  color: #3b82f6;
}
p {
  color: #c4b5fd;
}
#meaning-text {
  padding: 1rem;
  font-size: large;
  font-weight: bold;
  color: #10b981;
}
